$background-color: #080C0F;
$primary-color: #ffee00;

$text-color: #EDEDED;
$text-secondary-color: #969798;

$card-bg-color: #1c1c1c;  // Fondo de la tarjeta
$blue-color: #4ba6ef;     // Azul

// Fuentes
$font-family: 'Open Sans', sans-serif;

// Sombra
$card-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);