@import "/src/styles/variables.scss";

.header-container {
  width: 440px;
  height: 56px;
  background-color: $background-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 46px;
  box-sizing: border-box;
  margin-top: 65px;

  .prev-image {
    width: 10px;
    height: 18px;
    cursor: pointer;
  }

  .title {
    height: 27px;
    font-size: 20px;
    line-height: 27.32px;
    color: $text-color;
    font-weight: 800;
  }

  .notification-svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}